services:
  - type: web
    name: backend-sorvetes
    env: docker
    region: ohio
    plan: free
    rootDir: backend
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: JWT_SECRET
        sync: false

  - type: web
    name: frontend-sorvetes
    env: static
    region: ohio
    plan: free
    buildCommand: npm install && npm run build
    staticPublishPath: dist
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
    envVars:
      - key: VITE_API_URL
        fromService:
          type: web
          name: backend-sorvetes
          property: url
