databases:
  - name: db-sorvetes
    databaseName: erp_sorvetes
    user: sorvetes_user
    plan: free # ou starter, mas free expira em 30 dias (bom explicitar)

services:
  - type: web
    name: backend-sorvetes
    env: docker
    region: ohio
    plan: free
    rootDir: backend
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: db-sorvetes
          property: connectionString
      - key: JWT_SECRET
        generateValue: true

  - type: web
    name: frontend-sorvetes
    env: static
    buildCommand: npm install && npm run build
    staticPublishPath: dist
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
    envVars:
      - key: VITE_API_URL
        fromService:
          type: web
          name: backend-sorvetes
          property: host
